$primary-gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$secondary-color: #99E2D0;
$background-color: #f6f6f6;
$text-color: #333;

$font-family-main: "Arial, sans-serif";
$font-family-heading: "Shrikhand, cursive";
